services:
  - type: web
    name: googlemaps-scraper-api
    env: node
    region: oregon
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: SCRAPER_API_KEY
        sync: false

